@import '../../assets/sass/variables.scss';

.button {
  font-weight: 700 !important;
  border-radius: 3px !important;
  text-transform: capitalize !important;
  box-shadow: none !important;

  /** Primary Button **/
  &.primary {
    background: $success !important;
    color: #FFFFFF !important;
    font-size: 20px !important;
    padding: 8px 42px !important;
    box-shadow: 0 10px 15px rgba($success, 0.25) !important;

    &:hover {
      background: darken($success, 15%) !important;
    }

    &:active {
      box-shadow: 0 5px 10px rgba($success, 0.2) !important;
    }
  }

  /** Secondary Button **/
  &.secondary {
    background: transparent !important;
    border: 2px solid $success !important;
    font-size: 20px !important;
    color: $success !important;
    padding: 6px 40px !important;
  }

}